<ul>
    {{#each posts as |post|}}
  <li>
    <article>
      <div>
        <h3>{{post.title}}</h3>
        <p>({{post.post_text}})</p>
      </div>
      <div>
        by {{post.user.username}} on
        {{post.created_at}}
        |
        <a href="/post/{{id}}">{{post.comments.length}} comment(s)</a>
      </div>
    </article>
  </li>
  {{/each}}
</ul>